<div class="row">
	<div class="span7">
		
		<p class="lead center">
			Have a great idea for a party but too busy to organize it all on your own?
			Suggest the party here and we	just might make it a reality!
		</p>
		
		<p class="center">
			<% if current_user %>
				<% if @suggestions.count > 0 %>
					<button class="btn btn-primary hidden-phone" 
						data-target="#suggestion-modal" data-toggle="modal" data-keyboard="true">
						Suggest</button>
				
					<%= link_to "Suggest", new_suggestion_path, class: "btn btn-primary visible-phone" %>
					
				<% else %>
					<button id="suggestion-button" class="btn btn-primary hidden-phone hide" 
						data-target="#suggestion-modal" data-toggle="modal" data-keyboard="true">
						Suggest</button>
						
					<%= render 'form' %>
				<% end %>
			<% else %>
				<%= link_to "Suggest", signin_path, class: "btn btn-primary" %>
			<% end %>
		</p>
			
		<% if @suggestions.count > 0 %>
			
			<div class="separator"></div>
			
			<div class="row">
				<div class="span3">
					<h3>Suggestions (<span id="suggestions-count"><%= @suggestions.count %></span>)</h3>
				</div>
			</div>
			
			<div id="suggestions">
				<%= render @suggestions %>
			</div>
		<% end %>
		
	</div>
</div>

<%= render 'modal' %>