<div id="share-modal" class="modal fade hide">
	
	<div class="modal-header">
		<button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="center">New Share</h3>
	</div>
	
	<%= form_for @share, html: { class: "form-horizontal default" }, remote: true do |f| %>
		<div class="modal-body">
			
			<div class="alert alert-error center hide" id="share-error">
				<i class="icon-exclamation-sign"></i> URL or description must be filled out.
			</div>

			<div class="control-group">
				<div class="control-label"><%= f.label :date, "Date" %></div>
				<div class="controls">
					<%= f.text_field :date, class: "date-picker input-small" %> 
				</div>
			</div>

			<div class="control-group">
				<div class="control-label"><%= f.label :date, "Time" %></div>
				<div class="controls">
					<%= f.time_select :time, ampm: true, minute_step: 15 %>
				</div>
			</div>

			<div class="control-group">
				<div class="control-label"><%= f.label :url, "URL" %></div>
				<div class="controls">
					<%= f.text_field :url, class: "input-large" %>
				</div>
			</div>


			<div class="control-group">
				<div class="control-label"><%= f.label :content, "Description" %></div>
				<div class="controls">
					<%= f.text_area :content, rows: 2,  class: "input-large" %>
				</div>
			</div>
			
			<div class="controls">
		    <%= f.submit "Post", class: "btn btn-primary", id: "submit" %>
				<button class="btn btn-primary hide" id="dummy-button">
					<i class="icon-spinner icon-spin"></i></button>
		    <button class="btn" data-dismiss="modal"> Cancel</button>
			</div>
		</div>
	<% end %>
</div>