
<% if notice %>
	<div class="alert alert-success">
		<%= notice %>
	</div>
<% end %>

<h2><%= @event.name %></h2>

<div class="separator"></div>


<table>
	<tr>
		<td class="icon"><i class="icon-calendar"></i></td>
		<td>
			<%= time_tag @event.date, format: "%B %e" %>, 
			<%= time_tag @event.time, format: "%l:%M %P" %>
		</td>
	</tr>
	
	<tr>
		<td><i class="icon-map-marker"></i></td>	
		<td><%= link_to @event.address, @event.map_link, target: "_blank" %></td>
	</tr>
	
	<tr>
		<td><i class="icon-info-sign"></td>	
		<td><%= raw @event.description %></td>
	</tr>
	
	<tr>
		<td><i class="icon-comment"></i></td>
		<td>			
			<strong id="comment-count"><%= pluralize @event.comments.count, "Comment" %></strong>
		</td>
	</tr>
</table>

<div id="comments">
	<%= render @event.comments %>
</div>
<%= render "comments/form" %>

