<% if admin_user? %>
	<div class="alert alert-info center">
		<%= link_to "Edit", edit_event_path(@event), class: "btn" %>
		<%= link_to "Delete", edit_event_path(@event), class: "btn btn-danger",
			method: :delete, :data => { :confirm => 'Are you sure you want to delete this event?' } %>
	</div>
	<% if notice %>
		<div class="alert alert-success">
			<%= notice %>
		</div>
	<% end %>
	
<% end %>

<h2><%= @event.name %></h2>

<div class="separator"></div>


<table>
	<tr>
		<td class="icon"><i class="icon-calendar"></i></td>
		<td>
			<%= time_tag @event.date, format: "%B %e" %>, 
			<%= time_tag @event.time, format: "%l:%M %P" %>
		</td>
	</tr>
	
	<tr>
		<td><i class="icon-map-marker"></i></td>	
		<td><%= link_to @event.address, @event.map_link, target: "_blank" %></td>
	</tr>
	
	<tr>
		<td><i class="icon-info-sign"></td>	
		<td><%= raw @event.description %></td>
	</tr>
	
	<% if @event.pictures.count > 0 %>
		<tr>
			<td><i class="icon-picture"></i></td>
			<td>
				<%= link_to pictures_event_path(@event), class: "link-with-icon" do %>
					<%= pluralize(@event.pictures.count, "Picture") %>
					<i class="icon-angle-right"></i>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<div id="comments">
	<%= render @event.comments %>
</div>
<%= render "comments/form" %>

