<div class="default">
	
	<% if @event.users.include?(current_user) %>
		<%= link_to "Going", "#", 
				class: "btn btn-success disabled", 
				id: "join",
				remote: true %>
	<% else %>
		<%= link_to "Join", 
				join_event_path, 
				class: "btn btn-success", 
				id: "join" %>
	<% end %>
	
	<div class="separator" style="clear: both"></div>
	
	<p class="alert alert-error hide" id="error">
		<i class="icon-exclamation-sign"></i>
		Oops, something went wrong. Try reloading the page.
	</p>
	
	<p class="lead muted">
		Going (<span id="going-count"><%= @event.users.count %></span>):
	</p>
	
	<ul class="unstyled clearfix" id="going">
		<% if @event.users.count <= 8 %>
			<% @event.users.each do |user| %>
				<li><%= link_to image_tag(user.image_url), user.profile_url, target: "_blank" %></li>
			<% end %>
		<% else %>
			<% for i in (@event.users.count - 1)..(@event.users.count - 8) %>
				<li>
					<%= link_to image_tag(@event.users[i].image_url), 
											@event.users[i].profile_url, 
											target: "_blank" %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>