<div class="default">
	<div class="rating">
		<%= image_tag "star.png", size: "35x35" %>
		<%= image_tag "star.png", size: "35x35" %>
		<%= image_tag "star.png", size: "35x35" %>
		<%= image_tag "star.png", size: "35x35" %>
		<%= image_tag "star.png", size: "35x35" %>
	</div>
	<div class="separator"></div>
	<p class="lead muted">234 ratings</p>
</div>